<!-- BLOG SECTION START -->
    <section id="blog" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-title">Latest From The Blog</h2>

                        <p class="section-subtitle">Blogging is a great way to show your talents and interests to prospective employers, while adding an edge to your resume.</p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
                
                <!-- BLOG POST START -->
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="blog-post">
                            <div class="post-media">
                                <img src="assets/images/blog/blog-image-1.jpg" class="img-responsive" alt=""/>
                            </div>
                            <!-- //.post-media -->

                            <div class="post-meta match-height">
                                <span class="date">
                                    <span class="day">13</span> Sep
                                </span>

                                <div class="post-title">
                                    <h4>
                                        <a href="#blog">Facebook Wants to Own your Life, not Imitate Amazon</a>
                                    </h4>
                                </div>
                                <!-- //.post-title -->
                            </div>
                            <!-- //.post-meta -->
                        </div>
                        <!-- //.blog-post -->
                    </div>
                    <!-- //.col-md-4 -->

                    <div class="col-sm-6 col-md-4">
                        <div class="blog-post">
                            <div class="post-media">
                                <img src="assets/images/blog/blog-image-2.jpg" class="img-responsive" alt=""/>
                            </div>
                            <!-- //.post-media -->

                            <div class="post-meta match-height">
                                <span class="date">
                                    <span class="day">21</span> Aug
                                </span>

                                <div class="post-title">
                                    <h4>
                                        <a href="#blog">Typekit Adds Hundreds of New Fonts to its Collection</a>
                                    </h4>
                                </div>
                                <!-- //.post-title -->
                            </div>
                            <!-- //.post-meta -->
                        </div>
                        <!-- //.blog-post -->
                    </div>
                    <!-- //.col-md-4 -->

                    <div class="col-sm-6 col-md-4">
                        <div class="blog-post">
                            <div class="post-media">
                                <img src="assets/images/blog/blog-image-3.jpg" class="img-responsive" alt=""/>
                            </div>
                            <!-- //.post-media -->

                            <div class="post-meta match-height">
                                <span class="date">
                                    <span class="day">09</span> Jul
                                </span>

                                <div class="post-title">
                                    <h4>
                                        <a href="#blog">20 Web Designs Built with Twitter Bootstrap Framework</a>
                                    </h4>
                                </div>
                                <!-- //.post-title -->
                            </div>
                            <!-- //.post-meta -->
                        </div>
                        <!-- //.blog-post -->
                    </div>
                    <!-- //.col-md-4 -->

                    <div class="col-sm-6 col-md-4">
                        <div class="blog-post">
                            <div class="post-media">
                                <img src="assets/images/blog/blog-image-4.jpg" class="img-responsive" alt=""/>
                            </div>
                            <!-- //.post-media -->

                            <div class="post-meta match-height">
                                <span class="date">
                                    <span class="day">16</span> Jun
                                </span>

                                <div class="post-title">
                                    <h4>
                                        <a href="#blog">5 Powerful Reasons Why SaaS Designers Need to Know SEO</a>
                                    </h4>
                                </div>
                                <!-- //.post-title -->
                            </div>
                            <!-- //.post-meta -->
                        </div>
                        <!-- //.blog-post -->
                    </div>
                    <!-- //.col-md-4 -->

                    <div class="col-sm-6 col-md-4">
                        <div class="blog-post">
                            <div class="post-media">
                                <img src="assets/images/blog/blog-image-5.jpg" class="img-responsive" alt=""/>
                            </div>
                            <!-- //.post-media -->

                            <div class="post-meta match-height">
                                <span class="date">
                                    <span class="day">28</span> May
                                </span>

                                <div class="post-title">
                                    <h4>
                                        <a href="#blog">Using the Web as a Designer Without Losing your Mind</a>
                                    </h4>
                                </div>
                                <!-- //.post-title -->
                            </div>
                            <!-- //.post-meta -->
                        </div>
                        <!-- //.blog-post -->
                    </div>
                    <!-- //.col-md-4 -->

                    <div class="col-sm-6 col-md-4">
                        <div class="blog-post">
                            <div class="post-media">
                                <img src="assets/images/blog/blog-image-6.jpg" class="img-responsive" alt=""/>
                            </div>
                            <!-- //.post-media -->

                            <div class="post-meta match-height">
                                <span class="date">
                                    <span class="day">14</span> May
                                </span>

                                <div class="post-title">
                                    <h4>
                                        <a href="#blog">Here’s Why Our Team Now Chooses their Own Salaries</a>
                                    </h4>
                                </div>
                                <!-- //.post-title -->
                            </div>
                            <!-- //.post-meta -->
                        </div>
                        <!-- //.blog-post -->
                    </div>
                    <!-- //.col-md-4 -->
                </div>
                <!-- //BLOG POST END -->
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="launch text-center">
                            <a href="#" class="btn btn-lg btn-custom">See All Posts</a>
                        </div>
                        <!-- //.launch -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //BLOG SECTION END -->