<!-- MILESTONES SECTION START -->
    <section id="milestones" class="section parallax-yes">
        <div id="parallax-5" class="parallax">
            <div class="bcg skrollable skrollable-between" data-anchor-target="#parallax-5" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;">
                <div class="container-fluid section-wrapper">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <h2 class="section-title">Milestones Achieved</h2>

                                <p class="section-subtitle">My path has not been determined. I shall have more experiences and pass many more milestones.</p>

                                <span class="divider center"></span>
                            </div>
                            <!-- //.col-md-8 -->
                        </div>
                        <!-- //.row -->

                        <!-- MILESTONES START -->
                        <div class="milestones">
                            <div class="row">
                                <div class="col-sm-6 col-md-3 item">
                                    <div class="circle">
                                        <i class="ion-code-working"></i>
                                    </div>
                                    <!-- //.circle -->

                                    <span class="number" data-from="10" data-to="3012" data-refresh-interval="100">
                                        10
                                    </span>

                                    <h4>lines of code</h4>
                                </div>
                                <!-- //.item -->

                                <div class="col-sm-6 col-md-3 item">
                                    <div class="circle">
                                        <i class="ion-android-alarm-clock"></i>
                                    </div>
                                    <!-- //.circle -->

                                    <span class="number" data-from="10" data-to="210" data-refresh-interval="100">
                                        10
                                    </span>

                                    <h4>Hours Worked</h4>
                                </div>
                                <!-- //.item -->

                                <div class="col-sm-6 col-md-3 item">
                                    <div class="circle">
                                        <i class="ion-jet"></i>
                                    </div>
                                    <!-- //.circle -->

                                    <span class="number" data-from="1" data-to="5" data-refresh-interval="10">
                                        10
                                    </span>

                                    <h4>Succesful Projects</h4>
                                </div>
                                <!-- //.item -->

                                <div class="col-sm-6 col-md-3 item">
                                    <div class="circle">
                                        <i class="ion-happy"></i>
                                    </div>
                                    <!-- //.circle -->

                                    <span class="number" data-from="1" data-to="5" data-refresh-interval="10">
                                        5
                                    </span>

                                    <h4>Happy Clients</h4>
                                </div>
                                <!-- //.item -->
                            </div>
                            <!-- //.row -->
                        </div>
                        <!-- //MILESTONES END -->
                    </div>
                    <!-- //.section-content -->
                </div>
                <!-- //.container -->
            </div>
            <!-- //.bcg -->
        </div>
        <!-- //.parallax -->
    </section>
    <!-- //MILESTONES SECTION END -->