<!-- MAP START -->
    <div id="map">
        <div class="address">
            <h4>123 Water Seven, Grand Line</h4>
        </div>
        <!-- //.address -->
        
        <div id="cd-google-map">
            <div id="google-container"></div>
        </div>
        <!-- //.cd-google-map -->
    </div>
    <!-- //MAP END -->