
    <!-- HERO START -->
    <header id="home" class="hero parallax-yes">
        <div id="parallax-1" class="parallax">
            <div class="bcg skrollable skrollable-between" data-anchor-target="#parallax-1" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;">
                <div class="hero-body">
                    <div class="hero-text text-center">
                        <h1 class="small">
                            I'm OSP <span class="blinker"></span>
                        </h1>

                        <h1 class="small"><span id="js-rotating">Web Developer | UI/UX Designer | Mobile App Developer</span></h1>

                        <p>22 years young, freelancer.</p>

                        <div class="page-scroll">
                            <a href="#profile" class="btn btn-lg btn-custom">
                                Know Me Better
                            </a>
                        </div>
                        <!-- //.page-scroll -->
                    </div>
                    <!-- //.hero-text -->
                </div>
                <!-- //.hero-body -->
            </div>
            <!-- //.bcg -->
        </div>
        <!-- //.parallax -->
    </header>
    <!-- //HERO END -->
<!-- NAVIGATION START -->
    <nav id="navigation" class="navbar navbar-fixed-top center-menu" role="navigation">
        <div class="container navbar-container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".berg-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand visible-xs" href="#page-top">BERG</a>
            </div>
            <!-- //.navbar-header -->
            
            <div class="navbar-collapse collapse berg-collapse">
                <ul class="nav navbar-nav">
                    <li class="page-scroll">
                        <a href="#home">Home</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- //.navbar-collapse -->
        </div>
        <!-- //.navbar-container -->
    </nav>
    <!-- //NAVIGATION END -->